# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`

In [70]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [57]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [58]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [71]:
# filter datasets for rows following California standards
df_08 = df_08[df_08['cert_region'] == 'CA']
df_18 = df_18[df_18['cert_region'] == 'CA']

In [72]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [73]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [74]:
# drop certification region columns form both datasets
df_08.drop(['cert_region'], axis=1, inplace=True)
df_18.drop(['cert_region'], axis=1, inplace=True)

In [63]:
df_08.shape

(1084, 13)

In [64]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [65]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [29]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [66]:
# drop rows with any null values in both datasets
df_08 = df_08.dropna(inplace=True)
df_18 = df_18.dropna(inplace=True)

In [67]:
# checks if any of columns in 2008 have null values - should print False
print(type(df_08))

<class 'NoneType'>

## solution

In [75]:
#When you do an operation on a df with inplace=True,
#the variable or output of that operation is None.
# Please check here 
# https://stackoverflow.com/questions/52665567/attributeerror-nonetype-object-has-no-attribute-isnull?noredirect=1&lq=1
df_08.dropna(inplace = True)
df_08_not_empty = df_08.copy()
print(df_08_not_empty.isnull().sum().any())

False

In [76]:
# checks if any of columns in 2018 have null values - should print False
df_18.dropna(inplace = True)
df_18_not_empty = df_08.copy()
print(df_18_not_empty.isnull().sum().any())

False

## Dedupe Data

In [77]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08_not_empty.duplicated().sum())
print(df_08_not_empty.duplicated().sum())

23
23

In [80]:
# drop duplicates in both datasets
df_08_not_empty.drop_duplicates(inplace=True)
df_18_not_empty.drop_duplicates(inplace=True)

In [81]:
# print number of duplicates again to confirm dedupe - should both be 0
print(sum(df_08_not_empty.duplicated()))
print(sum(df_18_not_empty.duplicated()))

0
0

In [82]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)